<!DOCTYPE html>
<html>
    <head>
        <script src="static/socket.io.js"></script>
        <script src="https://cdn.belvo.io/belvo-widget-1-stable.js" async></script>
        <title>Belvo Sandbox</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        {{{ body }}}
    </body>
</html>
